<div class="p-5">
  <div class="d-flex w-100 justify-content-center">
    <h1 mat-dialog-title>Agregar Empresa</h1>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="companyForm">
      <div class="mb-3">
        <label for="name" class="form-label">País: </label>
        <div class="input-group">
          <select class="form-select" formControlName="paisId">
            <option value="" disabled selected>Seleccione un país</option>
            <option *ngFor="let country of countries" [value]="country.id">
              {{ country.nombre }}
            </option>
          </select>
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('empresaId')?.invalid && companyForm.get('empresaId')?.touched">{{getErrorMessage('empresaId')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Departamento: </label>
        <div class="input-group">
          <select class="form-select" formControlName="departamentoId">
            <option value="" disabled selected>Seleccione un departamento</option>
            <option *ngFor="let state of states" [value]="state.id">
              {{ state.nombre }}
            </option>
          </select>
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('empresaId')?.invalid && companyForm.get('empresaId')?.touched">{{getErrorMessage('empresaId')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Municipio: </label>
        <div class="input-group">
          <select class="form-select" formControlName="municipioId">
            <option value="" disabled selected>Seleccione un país</option>
            <option *ngFor="let town of towns" [value]="town.id">
              {{ town.nombre }}
            </option>
          </select>
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('empresaId')?.invalid && companyForm.get('empresaId')?.touched">{{getErrorMessage('empresaId')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">NIT:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="nit" placeholder="NIT">
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('nit')?.invalid && companyForm.get('nit')?.touched">{{getErrorMessage('nombre')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Razón Social:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="razonSocial" placeholder="Razón Social">
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('razonSocial')?.invalid && companyForm.get('razonSocial')?.touched">{{getErrorMessage('nombre')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre Comercial:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="nombreComercial" placeholder="Nombre Comercial">
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('razonSocial')?.invalid && companyForm.get('razonSocial')?.touched">{{getErrorMessage('nombre')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Teléfono:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('razonSocial')?.invalid && companyForm.get('razonSocial')?.touched">{{getErrorMessage('nombre')}}</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Correo:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="correo" placeholder="Correo">
        </div>
        <span class="text-danger"
          *ngIf="companyForm.get('razonSocial')?.invalid && companyForm.get('razonSocial')?.touched">{{getErrorMessage('nombre')}}</span>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="w-100 d-flex justify-content-center">
    <button mat-button (click)="close()" class="btn btn-danger me-2">Cancelar</button>
    <button mat-button (click)="updateCompany()" class="btn btn-success" [disabled]="companyForm.invalid">Actualizar</button>
  </div>
</div>